* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
@mixin pawn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
$fonts: 'Indie Flower', cursive;

body {
    background-size: cover;
    background-repeat: no-repeat;
    .main {
        padding: 30px;
        .title {
            width: 100%;
            text-align: center;
            font-family: $fonts;
            font-size: 2.5em;
        }
        #gameContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            #board {
                width: 70%;
                margin: auto;
                width: 500px;
                height: 500px;  
                background-color: rgb(221, 217, 217);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 20px;
                .cell {
                    width: 40px;
                    height: 40px;
                    border: 1px solid red;
                    border-radius: 10%;
                    margin: 2px;
                }
                .active {
                    background-color: red;
                }
                .potentialActive {
                    background-color: green;
                }
            }
            #diceContainer {
                display: block;
                width: 40%;
                position: relative;
                .diceArea {
                    display: block;
                    height: 150px;
                    width: 150px;
                    border: 1px solid grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .diceParagraph {
                        font-size: 4em;
                    }
                }
                .roll {
                    position: absolute;
                    width: 152px;
                    height: 35px;
                    background-color: red;
                    color: white;
                    font-family: $fonts;
                    font-size: 1.5em;
                    border: none;
                }         
            }
            #pawn1 {
                @include pawn;
                background-color: white;
            }
            #pawn2 {
                @include pawn;
                background-color: black;
            }
            .functionElement {
                width: 150px;
                
            }
        }

    
    }
    
}

